{{ define "error" }}
  {{ template "header" . }}

    <div id="main-page">
      <h1>An error occured :'(</h1>

      <div class="error">{{ . }}</div>

      <br />
      <div><a href="/">Return to the main page</a></div>
    </div>

  {{ template "footer" }}
{{ end }}
