{{define "item"}}
            {{ $conv := .CurrencyLayout }}
            {{ if .CurrencyLayout }}
            <div class="stashTabContents poeScroll currencyStash" style="border-color: rgb(124, 84, 54);">
            {{ else }}
            <div class="stashTabContents poeScroll" style="border-color: rgb(124, 84, 54);">
            {{ end }}
            {{ range .Items }}
              <div class="newItemContainer iW{{ .Width }} iH{{ .Height }} itemRendered itemPlaced ipW{{ .Width }} ipH{{ .Height }}"
                style="position: absolute; left: {{ DeducePosX $conv .X .Y }}px; top: {{ DeducePosY $conv .X .Y }}px;">
                <div class="socketPopups"></div>
                <div class="iconContainer">
                  <div class="icon ">
                    <img src="{{ .Icon }}" alt="">
                    <div class="sockets numSockets0" style="display: block;"></div>
                    {{ if (gt .StackSize 0) }}
                    <span class="stackSize">{{ .StackSize }}</span>
                    {{ end }}
                  </div>
                </div>
              </div>
            {{ end }}
            </div>
{{ end }}
