{{ define "main" }}
  {{ template "header" }}

    <div id="main-page">
      <div>
      <h1>Existing accounts</h2>
      <ul>
        {{ range . }}
        <li><a href="/view/{{ . }}">{{ . }}</a></li>
        {{ end }}
      </ul>
      </div>

      <div>
        <h1>Refresh or fetch a new account</h2>
        <form action="/gen" method="GET">
          <input id="account" class="input-text" type="text" name="account" value="" placeholder="Account Name" />
          <input id="poesessid" class="input-text" type="text" name="poesessid" value="" placeholder="PoE sessid" />
          <input type="button" class="button button-submit" onclick="formatSubmit()" value="Generate" />
        </form>
      </div>
    </div>

  {{ template "footer" }}
{{ end }}
