{{ define "main" }}
  {{ template "header" . }}

    <div id="main-page">
      <div>
      <h1>Existing accounts</h2>
      <ul class="accounts">
        {{ range . }}
        <li>
            <a href="/view/{{ . }}">{{ . }}</a>
            <button title="Refresh" class="refresh" onclick="refresh('{{ . }}')"></button>
        </li>
        {{ end }}
      </ul>
      </div>

      <div>
        <h1>Refresh or fetch a new account</h2>
        <form action="/gen" method="GET">
          <input id="account" class="input-text" type="text" name="account" value="" placeholder="Account Name" onfocusout="validateForm()" />
          <input id="poesessid" class="input-text" type="text" name="poesessid" value="" placeholder="PoE sessid" onfocusout="validateForm()" />
          <select id="league" class="dropdown" name="league">
            <option value="standard" selected="selected">Standard</option>
            <option value="legion">Legion</option>
          </select>
          <select id="realm" class="dropdown" name="realm">
            <option value="pc" selected="selected">PC</option>
            <option value="ps4">PS4</option>
            <option value="xbox">Xbox</option>
          </select>
          <input id="submit-btn" type="button" class="button button-submit" onclick="formatSubmit()" value="Generate" disabled="disabled" />
        </form>

        <div class="error hidden" id="errbox">
          <ul>
            <li id="no-account" class="hidden">Account not provided!</li>
            <li id="no-sess" class="hidden">PoeSessid not provided!</li>
            <li id="invalid-sess" class="hidden">Invalid PoeSessid! Check it's a valid sessid: <a href="#getsessid">how to get poesessid</a></li>
          </ul>
        </div>
      </div>

      <div>
        <h1 id="getsessid">How to get the POESESSID<h1>

        <p>
          <h2>Firefox</h2>
          <ul>
            <li> Press the F12 key.</li>
            <li> Select the "Storage".</li>
            <li> Expand the "Cookies", select the https://www.pathofexile.com.</li>
            <li> Copy the value of the "POESESSID".</li>
          </ul>
        </p>
        <p>
          <h2>Chrome</h2>
          <ul>
            <li> Press the F12 key.</li>
            <li> Select the "Application".</li>
            <li> Expand the "Cookies", select the https://www.pathofexile.com.</li>
            <li> Copy the value of the "POESESSID".</li>
          </ul>
        </p>
        <p>
          <h2>IE11</h2>
          <ul>
            <li>Press the F12 key.</li>
            <li>Select the "Network".</li>
            <li>Enables the capture of network traffic.</li>
            <li>Reloads the page.</li>
            <li>Select [DETAILS]-[Cookies].</li>
            <li>Copy the value of the "POESESSID".</li>
          </ul>
        </p>
      </div>

    </div>

  {{ template "modals" . }}

  {{ template "footer" }}
{{ end }}
