{{ define "profile" }}
  {{ $title := (print " - " .Account) }}
  {{ template "header" dict "Title" $title "Demo" .Demo }}

    <div id="ribbon" style="display: none;">
      <a href="/download/{{ .Account }}?league={{ .League }}&realm={{ .Realm }}&date={{ .Date | DateFormat }}" class="button ribbon">Download/Share</a>
    </div>

    <div id="wealth">
      <b>Estimated wealth:</b><img class="thumbnail" src="https://web.poecdn.com/image/Art/2DItems/Currency/CurrencyRerollRare.png?scale=1&amp;w=1&amp;h=1&amp;v=c60aa876dd6bab31174df91b1da1b4f9"><small>x</small>{{ .Wealth.EstimatedChaos }} (with
      <img class="thumbnail" src="https://web.poecdn.com/image/Art/2DItems/Currency/CurrencyAddModToRare.png?scale=1&w=1&h=1&v=1745ebafbd533b6f91bccf588ab5efc5"><small>x</small>{{ .Wealth.NbExa }}
      <img class="thumbnail" src="https://web.poecdn.com/image/Art/2DItems/Currency/CurrencyRerollRare.png?scale=1&amp;w=1&amp;h=1&amp;v=c60aa876dd6bab31174df91b1da1b4f9"><small>x</small>{{ .Wealth.NbChaos }}
      <img class="thumbnail" src="https://web.poecdn.com/image/Art/2DItems/Currency/CurrencyUpgradeToRare.png?scale=1&w=1&h=1&v=89c110be97333995522c7b2c29cae728"><small>x</small>{{ .Wealth.NbAlch }})
    </div>
    <div id="shop" class="box">
      <div>
        <button class="button" onclick="generateShop()">Generate items shop</button>
        <button class="button" onclick="exportShop()">Export shop</button>
        <input type="file" name="files[]" id="shop-file" class="inputfile inputfile-1" accept=".txt" multiple="">
        <label for="shop-file">
          <span class="button button-label" >
            Import shop
          </span>
        </label>
        <span id="merge-box">
          <input type="checkbox" id="merge" name="merge" checked="checked" onclick="onMergeChange(this)">
          <label for="merge">Merge</label>
        </span>
        <select id="highlight" class="dropdown" onchange="highlightItems(this.value)">
          <option value="all" selected="selected">Show all</option>
          <option value="sell">Show price items</option>
          <option value="noprice">Show no price set</option>
        </select>
      </div>
      <div>
        <input id="searchbar"
            class="input-text" type="text" name="searchbar" value=""
            placeholder="Example: ring | vix lunaris | increased damage | rarity:unique"
            onkeypress="return onEnter(event)" />
        <button id="searchbutton" class="button" onclick="searchItem()">Search</button>
      </div>
    </div>

    <div class="clear"><!-- --></div>

    {{ $skills := .Skills }}
    {{ $choosenLeague := .League }}
    {{ range $idx, $char := .Characters }}
      {{ if ieq $char.CharDesc.League $choosenLeague  }}
        <div class="customContainerPanel">

          {{ with $char.CharDesc }}
          <div class="inventoryManagerMenu">
            <div class="characters">
              <div class="character {{ if .LastActive }} active {{ end }}">
                <div class="icon {{ .Class }}"></div>
                <div class="infoLine1">
                  <span class="characterName">{{ .Name }}</span>
                </div>
                <div class="infoLine2">Level {{ .Level }} {{ .Class }}</div>
                <div class="infoLine3">{{ .League }} League</div>
              </div>
            </div>
          </div>
          <div class="experience">
            <p>XP: {{ .Experience | PrettyPrint }}/{{ XpToNextLevel .Level | PrettyPrint }} </p>
            <progress value="{{ CurrentXp .Experience .Level }}" max="{{ XpNeeded .Level }}">
            <small>80%</small>
            </progress>
            <div class="meter">
              <span style="width: 25%"></span>
            </div>
          </div>
          {{ end }}

          {{ template "inventory" dict "Character" $char "Skill" (index $skills $idx) }}

        </div>
      {{ end }}
    {{ end }}

    <div class="clear"><!-- --></div>

    {{ template "stash" . }}

    <div class="clear"><!-- --></div>

    <div class="date-gen">
      This profile has been generated at {{ PrettyDate }} by
      <a href="https://cptpingu.github.io/poe-stash">poe-stash</a> {{ Version }}
    </div>

    <div id="poe-popup-container">
    {{ range .Stash }}
      {{ template "itemdescwithsocket" . }}
    {{ end }}
    {{ range .Characters }}
      {{ template "itemdescwithsocket" . }}
    {{ end }}
    {{ range .Skills }}
      {{ template "itemdescwithsocket" . }}
    {{ end }}

    </div>

    {{ template "modals" . }}

  {{ template "footer" . }}
{{ end }}
