{{ define "redirect" }}
  {{ template "header" . }}

    <div id="main-page">
      <h1>Generated!</h1>

      <p>Your profile has been fetched successfully.</p>
      <br />
      <div><a href="{{ . }}">Click here to be redirected!</a></div>
    </div>

    <script type="text/javascript">
      window.location.replace('{{ . }}');
    </script>

  {{ template "footer" }}
{{ end }}
