{{ define "tooltips" }}
    <script type="text/javascript">
    {{ range .Stash}}
      {{ range .Items }}
        tippy('#item-{{ .Id }}', {
            animation: 'none',
            duration: 0,
            arrow: false,
            delay: [0],
            allowHTML: true,
            placement: 'top',
            hideOnClick: false,
            interactive: false,
            size: "large",
            content: document.getElementById('item-{{ .Id }}-tooltip').innerHTML
        })
      {{ end }}
    {{ end }}
    </script>
{{ end }}
