{{ define "tooltips" }}
    <script type="text/javascript">
    <!-- Generate tooltip for stash items -->
    {{ range .Stash }}
      {{ range .Items }}
        {{ template "tooltip" . }}
        {{ range .SocketedItems }}
          {{ template "tooltip" . }}
        {{ end }}
      {{ end }}
    {{ end }}

    <!-- Generate tooltip for characters inventory items -->
    {{ range .Characters }}
      {{ range .Items }}
        {{ template "tooltip" . }}
        {{ range .SocketedItems }}
          {{ template "tooltip" . }}
        {{ end }}
      {{ end }}
    {{ end }}
    </script>
{{ end }}

{{ define "tooltip" }}
        tippy('#item-{{ .Id }}', {
            animation: 'none',
            duration: 0,
            arrow: false,
            delay: [0],
            allowHTML: true,
            placement: 'top',
            hideOnClick: false,
            interactive: false,
            size: "large",
            content: document.getElementById('item-{{ .Id }}-tooltip').innerHTML
        })
{{ end }}