{{ define "footer" }}

  </div>
  <!-- End of main container -->

  {{ template "popper.js" }}
  {{ template "tippy.js" }}
  {{ template "helpers.js" }}
  {{ template "tooltips" . }}
  </body>
</html>
{{ end }}
