{{ define "header" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
  	<title>PoE Stash</title>

    <link href="https://web.poecdn.com/image/favicon/apple-touch-icon.png?v=1" rel="apple-touch-icon" sizes="180x180" >
    <link href="https://web.poecdn.com/image/favicon/favicon-32x32.png?v=1" rel="icon" type="image/png" sizes="32x32" >
    <link href="https://web.poecdn.com/image/favicon/favicon-16x16.png?v=1" rel="icon" type="image/png" sizes="16x16" >
    <link href="https://web.poecdn.com/image/favicon/site.webmanifest?v=2" rel="manifest" >
    <link href="https://web.poecdn.com/image/favicon/safari-pinned-tab.svg?v=1" rel="mask-icon" >
    <link href="https://web.poecdn.com/image/favicon/favicon.ico?v=1" rel="shortcut icon" >

    <link href="https://web.poecdn.com/css/font.css?v=5a27f0cafa65fb0e9b63219fe028c658" media="screen" rel="stylesheet" type="text/css" >
    <link href="https://web.poecdn.com/css/modern.css?v=c571aeb7e2c00c2a74e2aa02ff18d280" media="screen" rel="stylesheet" type="text/css" >
    <link href="https://web.poecdn.com/css/screen.css?v=725177c3224f3ebe36afd325d363f4a9" media="screen" rel="stylesheet" type="text/css" >

    {{ template "style.css" }}
  </head>
  <body>
    <!-- Start of main container -->
    <div id="main-container" />
        <div id="header"><a href="/">PoE Stash</a></div>
{{ end }}
