{{ define "modals" }}
  <div id="modal" class="modal hidden">
    <div class="modal-content">
      <div id="closeModal" class="close">&nbsp;</div>
      <h2 id="item-name">#object name</h2>
      <div class="clear"><!-- --></div>
      <div style="display: table">
        <input style="display: table-cell" id="modal-estimate" class="button button-submit" type="button" value="$">
        <input id="modal-price" class="input-text" type="number" step="any" name="price" value="" />
        <select id="modal-currency" class="dropdown" style="display: table-cell">
          <option value="exa">Exalted orb</option>
          <option value="chaos" selected="selected">Chaos orb</option>
          <option value="alch">Alchemy orb</option>
        </select>
        <input style="display: table-cell" id="modal-submit" class="button button-submit" type="button" value="Set price" />
      </div>
    </div>
  </div>

  <div id="confirm" class="box hidden closeAnimation" role="alert">
    <p><strong>Your shop has been created!</strong></p>
    <p>
      Everything has been copied into your clipboard.
      Now go on the official forum and paste the code.
    </p>
    <p>
      Go to: <a class="link" href="https://www.pathofexile.com/forum/view-forum/standard-trading-shops">Official trade forum</a>
    </p>
    <div id="closeAlert" class="close" onclick="closeAlert()">&nbsp;</div>
  </div>

  <form class="hidden" id="estimate-form" method="post" action="https://www.poeprices.info/query" target="estimation">
    <textarea name="itemtext" value=""><!-- --></textarea>
    <input type="hidden" name="league" value="Standard" />
    <input type="hidden" name="auto" value="auto" />
    <input type="hidden" name="myshops" value="" />
    <input type="hidden" name="myaccounts" value="" />
  </form>
{{ end }}
