{{ define "stash" }}
    <div class="stash">
      {{ range $index, $element := .Stash}}
      <div class="activePanel">
        <div class="stashPanel">
          <div class="stashTabContainer tabControl">
            <div class="tabWindow">
              <div class="tabs tabsOverflow">
                <div class="tab" style="display: block; ">
                  {{ $tab := index .Tabs $index }}
                  <div class="l" style="background-image: url(&quot;{{ $tab.ImgL }}&quot;); width: 19px; height: 26px; background-position: 0px 0px;">
                  </div>
                  <div class="label" style="background-image: url(&quot;{{ $tab.ImgC }}&quot;); color: rgb(255, 192, 119); height: 26px; background-position: 0px 0px;">
                      {{ print $tab.Name }}
                  </div>
                  <div class="r" style="background-image: url(&quot;{{ $tab.ImgR }}&quot;); width: 18px; height: 26px; background-position: 0px 0px;">
                  </div>
                </div>
              </div>
            </div>
            {{ template "items" $element }}
          </div>
        </div>
      </div>
      {{ end }}
    </div>
{{ end }}
